/** 1. NavBar **/
.v4-tease {
    display: block;
    padding: 15px 20px;
	margin: 0;
    /* font-weight: 700; */
	font-size: 14px;
    color: #fff;
    text-align: center;
    background-color: #0275d8;
}
/** End NavBar **/

/** 2. Footer **/
#footer p { font-size: 11px; }
#footer .col-left p, #footer .col-right p, #footer h4, footer .footer-bar { text-align: center; }
@media (min-width: 768px) {
	#footer .col-left p { text-align: justify; }	
	#footer .col-left h4 { text-align: left; }	
	#footer .col-right p { text-align: right; }
	#footer .col-right h4 { text-align: right; }
	.dl-horizontal dt { width: 100px; }
	.dl-horizontal dd { margin-left: 120px; }
	.events-title { font-size: 24px !important; }
}

footer  {
	color:#87919F;
	font-size:13px;
	overflow:hidden;
	background:#2E363F;
	padding: 0 !important;
	display:block;
}

footer .footer-content h4 {
	color:#fff !important;
	font-weight:200;
	font-size:16px;
}

footer .footer-bar {
	background:#292f38;
	display:block;
	text-transform:uppercase;
	position:relative;
	padding:20px 0;
	border-bottom:#403E44 1px dashed;
}
/** End Footer **/

/** 3. Content **/
.content {
	margin-bottom: 20px;
}
/** End Content **/

/** 4. Login **/
.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
/** End Login **/

/** 5. Search **/
.form-search {
	max-width: 550px;
	margin: 0 auto;
}

.panel-search .panel-footer {
	background-color: #fcf8e3;
	color: #aa6708;
}

#displayresult, #dynamic-content table {
	font-size: 12px;
}
/** End Search **/